# Configuration locale - Copier vers .env et modifier
BOT_TOKEN=ton_token_ici
GUILD_ID=1473260729166467186
ROLE_ID=1473260729166467186
VERIFY_CHANNEL_ID=123456789
STAFF_CHANNEL_ID=123456789
SITE_URL=http://localhost:5000
SECRET_KEY=une_cle_secrete_tres_longue_et_aleatoire_123
